<link href="/css/footer.css" rel="stylesheet">   
<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <h1 class="mdl-mega-footer--heading">Features</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="https://github.com/AshleyBilbrey/symptomspace">Source Code</a></li>
              </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
              <h1 class="mdl-mega-footer--heading">Developers</h1>
              <ul class="mdl-mega-footer--link-list">
                <li>Karim Abou Najm</li>
                <li>Ashley Bilbrey</li>
              </ul>
        </div>
        <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
            PrideMakers 2021
        </div>
    </div>
</footer>