<%- include("../partials/top.ejs") %>
<%- include("../partials/nav.ejs") %>


<div class="container">
    <div id="st-box">
    	hello there 1
    </div>
      
    <div id="nd-box">
    	hello there 2
    </div>
      
    <div id="rd-box">
    	hello there 3
    </div>
</div>


<%- include("../partials/bottom.ejs") %>
