<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/top-style.css" rel="stylesheet">
  <div class="topnav">
    <a class="logo" href="#home">Your Story</a>
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>

  <!-- Here is where the CSS for the rest of the doc is brought in -->
  <head>
    <title>Your Story</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 

    <link href="/css/style.css" rel="stylesheet">
  </head>
<body>