<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Here is where the CSS for the rest of the doc is brought in -->
  <head>
    <title>Your Story</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 

    <link href="/css/top-style.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/columns.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">    
  </head>
<body>