<%- include("../partials/top.ejs") %>

<div class="centerbox">
    <div id="textpost">
        <h1>Error</h1>
        <h2>Sorry, there was an error with handling your request. This can happen from time to time. Please go back or refresh the page.</h2>
    </div>
</div>

<%- include("../partials/bottom.ejs") %>