<%- include("../partials/top.ejs") %>
<%- include("../partials/nav.ejs") %>

<div class="wrapper">
        
<section class="columns">
    
    <div class="column">
        <h2>Post</h2>
        <p>Share your stories.</p>
    </div>
    
    <div class="column">
        <h2>Explore</h2>
        <p>Read our stories.</p>
    </div>
  
    <div class="column">
        <h2>Remember</h2>
        <p>View saved posts</p>
    </div>
    
</section> 
</div>

<%- include("../partials/bottom.ejs") %>