<%- include("../partials/top.ejs") %>

<div class="centerbox">
    <h1>Email Sent</h1>
    <h2>We sent an email to <%= email %> with a link to login. <em>no passwords here!</em></h2>
    <h2>You may now close this tab.</h2>
</div>

<%- include("../partials/bottom.ejs") %>