<%- include("../partials/top.ejs") %>

<div class="centerbox">
    <div id="textpost">
        <h1>Sorry!</h1>
        <h2>There was an issue logging you in. Your link may have expired or it is incorrect.</h2>
    </div>

</div>

<%- include("../partials/bottom.ejs") %>