<%- include("../partials/top.ejs") %>
<%- include("../partials/nav.ejs") %>

<div class="centerbox">
    <div id="splashbox">
        <h1>
            <span id="c0">Y</span><span id="c1">o</span><span id="c2">u</span><span id="c3">r</span><span id="c4"> </span><span id="c5">S</span><span id="c6">t</span><span id="c7">o</span><span id="c8">r</span><span id="c9">y</span>
        </h1>
        <h2>Share your story with the world. Celebrate your identity and its acceptance.</h2>
        <a href="/login"><div class="context-button">Log In/Sign Up</div></a>
    </div>
</div>

<%- include("../partials/bottom.ejs") %>