<%- include("../partials/top.ejs") %>

<div class="centerbox">
    <h1>Story</h1>
    <h2>This is a placeholder page. You should only be able to see it if you are logged in.</h2>
    <h2>Your email in the system is <%= email %></h2>
</div>

<%- include("../partials/bottom.ejs") %>