<%- include("../partials/top.ejs") %>

<div class="centerbox">
    <div id="textpost">
        <h1><%= title %></h1>
        <p><%= content %></p>
    </div>
</div>

<%- include("../partials/bottom.ejs") %>